<%= form_for([@quiz, @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <p><i>Tip: Use markdown to submit code snippets. Like so: </i><br>
     <blockquote>``` ruby <br>
     array = [1, 2, 3] <br>
     array.first <br>
     ``` </blockquote>
  </p>
<%#= example_parser (Question.find(30).content) %>


  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 5, :class => "span5"  %>
  </div>
  <div>
    <%= label_tag 'choices[]', 'Choice 1: ' %>
    <%= text_field_tag 'choices[]', @question.new_record? ? "" : @question.choices[0].content, :class => "span5"  %>
    <%= radio_button_tag 'correct', 0, @question.new_record? ? false : @question.choices[0].correct %>
  </div>
  <div>
    <%= label_tag 'choices[]', 'Choice 2: ' %>
    <%= text_field_tag 'choices[]', @question.new_record? ? "" : @question.choices[1].content, :class => "span5" %>
    <%= radio_button_tag 'correct', 1, @question.new_record? ? false : @question.choices[1].correct %>
  </div>
  <div>
    <%= label_tag 'choices[]', 'Choice 3: ' %>
    <%= text_field_tag 'choices[]', @question.new_record? ? "" : @question.choices[2].content, :class => "span5" %>
    <%= radio_button_tag 'correct', 2, @question.new_record? ? false : @question.choices[2].correct %>
  </div>
  <div>
    <%= label_tag 'choices[]', 'Choice 4: ' %>
    <%= text_field_tag 'choices[]', @question.new_record? ? "" : @question.choices[3].content, :class => "span5" %>
    <%= radio_button_tag 'correct', 3, @question.new_record? ? false : @question.choices[3].correct %>
  </div>
</br></br>
  <div class="actions">
    <%= f.submit 'Add Question', class: "btn btn-primary"%>
  </div>
<% end %>
