<%= form_for([@quiz, @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content, :size => 100  %>
  </div>
  <div>
    <%= label_tag 'choices[]', 'Choice 1: ' %>
    <%= text_field_tag 'choices[]' %>
    <%= radio_button_tag 'correct', 0 %>
  </div>
  <div>
    <%= label_tag 'choices[]', 'Choice 2: ' %>
    <%= text_field_tag 'choices[]' %>
    <%= radio_button_tag 'correct', 1 %>
  </div>
  <div>
    <%= label_tag 'choices[]', 'Choice 3: ' %>
    <%= text_field_tag 'choices[]' %>
    <%= radio_button_tag 'correct', 2 %>
  </div>
  <div>
    <%= label_tag 'choices[]', 'Choice 4: ' %>
    <%= text_field_tag 'choices[]' %>
    <%= radio_button_tag 'correct', 3 %>
  </div>
</br></br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
