<%= form_tag '/questions/approve', :method => :put do %>

  <%= render :partial => '/quizzes/quizheading' %>
  <% if @quiz.questions.present? %>
  The <span class="correct">correct answer</span> is marked in green.
<% end %>
<br><br>
    <%= hidden_field_tag 'quiz_id', @quiz.id %>

<div id="questionlist" >
<h6>
  <%= "No questions submitted yet." if @quiz.questions.empty? %>
</h6>
  <% @quiz.questions.each do |question| %>
    <div class="question">
      <div class="inline">
      <%= check_box_tag "status[#{question.id}]",'approved', question.status == 'approved', :class => "approve"%>
      </div>
      <div class="inline" id="redcarpet">
        <%= markdown (question.content)%>
      </div>
      <br>

      <ol type='a', class="review-set">
      <% question.choices.each do |choice| %>
        <% if choice.correct %>
          <li>
            <span class="correct"><%= choice.content %></span>
          </li>
        <% else %>
          <li>
            <%= choice.content %>
          </li>
        <% end %>
      <% end %>
      </ol>
      <span class="label label-info"> <%= question.submitter(current_user) %>
      </span>
    </div>
    <hr>
  <% end %>
  <% end %>

    </br>
    <div>
      <% unless @quiz.questions.empty? %>
        <%= submit_tag "Approve", class: "btn btn-primary" %>
      <% end %>
    </div>
      </br>
  <%= link_to "Add Questions", new_quiz_question_path(@quiz), :class => "btn btn-primary" %>

</div>

