<%= form_tag '/questions/approve', :method => :put do %>

  <h1><%= @quiz.name %></h1> <br>

    <%= hidden_field_tag 'quiz_id', @quiz.id %>

<h6>
  <%= "No questions submitted yet." if @quiz.questions.empty? %>
</h6>
  <ol>
  <% @quiz.questions.each do |question| %>

      <%= check_box_tag "status[#{question.id}]",'approved', question.status == 'approved', :class => "approve"%>
      <!-- This if / else logic is strictly for properly formatting seed quizzes. Can be removed in production. -->
      <li>

        <div id="redcarpet">
          <%= markdown (question.content)%>
         </div>
     </li>


    <ol type='a', class="review-set">
    <% question.choices.each do |choice| %>
      <li>
        <%= choice.content %> <%= " - Correct" if choice.correct %>
      </li>
    <% end %>
  </ol>
  <% end %>
  </ol>
  <div>

    <% unless @quiz.questions.empty? %>
      <%= submit_tag "Approve" %>
    <% end %>
  </div>

<% end %>

<%= link_to "Add Question", new_quiz_question_path(@quiz), class: "btn btn-primary" %>

