<%= form_tag '/questions/approve', :method => :put do %>

  <h1><%= @quiz.name %></h1> <br>

    <%= hidden_field_tag 'quiz_id', @quiz.id %>

<h6>
  <%= "No questions submitted yet." if @quiz.questions.empty? %>
</h6>

  <% @quiz.questions.each do |question| %>

      <%= check_box_tag "status[#{question.id}]",'approved', question.status == 'approved', :class => "approve"%>
      <!-- This if / else logic is strictly for properly formatting seed quizzes. Can be removed in production. -->
      <% if question.quiz_id.in?(1..4) %>
        <%= question_parser(question.content) %>
      <% else %>
      <div id="redcarpet">
        <%= markdown (question.content)%>
       </div> 

      <% end %>



    <ol type='a', class="review-set">
    <% question.choices.each do |choice| %>
      <li>
        <%= choice.content %> <%= " - Correct" if choice.correct %>
      </li>
    <% end %>
  </ol>
  <% end %>
  <div>

    <label class="checkbox" for="checkbox1">
            <input type="checkbox" value="" id="checkbox1">
            Unchecked
          </label>

          <label class="checkbox" for="checkbox2">
            <span class="icon"></span>
            <span class="icon-to-fade"></span>
            <input type="checkbox" checked="checked" value="" id="checkbox2">
            Checked
          </label>

    <% unless @quiz.questions.empty? %>
      <%= submit_tag "Approve" %>
    <% end %>
  </div>

<% end %>

<%= link_to "Add Question", new_quiz_question_path(@quiz) %>

