<%= form_tag '/questions/approve', :method => :put do %>

  <h1><%= @quiz.name %></h1> <br>

    <%= hidden_field_tag 'quiz_id', @quiz.id %>

<h6>
  <%= "No questions submitted yet." if @quiz.questions.empty? %>
</h6>

  <% @quiz.questions.each_with_index do |question, i| %>
    <p>

      <%= check_box_tag "status[#{question.id}]",'approved', question.status == 'approved' %><%= question.content %>
    </p>

    <ul>
    <% question.choices.each do |choice| %>
      <li>
        <%= choice.content %> - <%= choice.correct %>
      </li>
    <% end %>
  </ul>
  <% end %>
  <div>

    <% unless @quiz.questions.empty? %>
      <%= submit_tag "Approve" %>
    <% end %>
  </div>

<% end %>

<%= link_to "Add questions", new_quiz_question_path(@quiz), :class => "links" %>
