<%= form_tag '/questions/approve', :method => :put do %>

  <%= render :partial => '/quizzes/quizheading' %>
  <% if @quiz.questions.present? %>
  The <span class="correct">correct answer</span> is marked in green.
<% end %>
<br><br>
    <%= hidden_field_tag 'quiz_id', @quiz.id %>

<h6>
  <%= "No questions submitted yet." if @quiz.questions.empty? %>
</h6>
  <!-- <ol> -->
  <% @quiz.questions.each do |question| %>

      <div class="inline">
      <%= check_box_tag "status[#{question.id}]",'approved', question.status == 'approved', :class => "approve"%>
      </div>
<!-- <li> -->

        <div class="inline" id="redcarpet">


          <i><%= current_user.id == question.user_id ? "Created by you:" : "Submitted by #{User.find(question.user_id).name}:" %></i>
          <%= markdown (question.content)%>

         </div>
          <br>
<!-- </li> -->

    <ol type='a', class="review-set">
    <% question.choices.each do |choice| %>
      <% if choice.correct %>
        <li>
          <span class="correct"><%= choice.content %></span>
        </li>
      <% else %>
        <li>
          <%= choice.content %>
        </li>
      <% end %>
    <% end %>
  </ol>


  <% end %>
<!-- </ol> -->
  <div>

    <% unless @quiz.questions.empty? %>
      <%= submit_tag "Approve", class: "btn btn-primary" %>
    <% end %>
  </div>

<% end %>

<%= link_to "Add Question", new_quiz_question_path(@quiz) %>

