<%= form_tag '/questions/approve', :method => :put do %>

  <h1><%= @quiz.name %></h1>
  Approved?

  <% @quiz.questions.each_with_index do |question, i| %>
    <p>

      <%= check_box_tag "status[#{question.id}]",'approved', question.status == 'approved' %><%= question.content %>
    </p>
    <%#= hidden_field_tag 'status[]question_id', question.id %>

    <ul>
    <% question.choices.each do |choice| %>
      <li>
        <%= choice.content %> - <%= choice.correct %>
      </li>
    <% end %>
  </ul>
  <% end %>
  <div>
    <%= submit_tag "Set Status" %>
  </div>

<% end %>
