<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>Question:</b>

  <!-- This if / else logic is strictly for properly formatting seed quizzes. Can be removed in production. -->
  <% if @question.quiz_id.in?(1..4) %>
      <%= question_parser(@question.content) %>
  <% else %>
      <%= markdown (@question.content)%>
  <% end %>

</p>

<ol type='a'>
<% @question.choices.each do |choice| %>
  <li>
  <%= choice.content %>  <%= " - Correct" if choice.correct %>
  </li>
  <% end %>
</ol>

<%#= link_to 'Edit', edit_quiz_question_path(@question.quiz_id, @question) %>
<%= link_to 'Edit', edit_question_path(@question, :quiz_id => @question.quiz_id) %>
<% if params[:quiz_id] %> |
<%= link_to 'Add Another Question', new_quiz_question_path(params[:quiz_id])
%> |
  <% if current_user.role?(:instructor) %>
    <%= link_to 'Done', review_quiz_questions_path(params[:quiz_id]) %>

  <% elsif current_user.role?(:student) %>
    <%= link_to 'Done', dashboard_user_path(params[:quiz_id]) %>
  <% end %>
<% end %>



<%#= link_to 'Back', quiz_path(@question.quiz_id) %>
<%#= link_to 'Finalize', quiz_path(@question.quiz_id) %>

