<%= form_for(@quiz) do |f| %>
  <% if Group.where(:instructor => current_user.id).empty? %>
    A quiz must be assigned to at least one group. You currently have no groups. Create groups by going to MyGroups in the navigation bar.
  <% else %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= label_tag :copy, 'Copy?' %><br />
    <%= select_tag :copy, options_from_collection_for_select(Quiz.where(:instructor => current_user.id), :id, :name), :include_blank => true %>
  </div>
  <br>
  Groups<br><br>
  <table>

  <% Group.where(:instructor => current_user.id).each do |group| %>
    <tr>
      <td><%= label_tag 'group_code[]', group.name %></td>
      <td><%= check_box_tag 'group_code[]', group.code, @quiz.groups.any?{|grp| grp.code == group.code} %></td>
    </tr>
  <% end %>
  </table>
  <br>

  <div class="field">
    <%= f.label :deadline %><br />
    <%= f.datetime_select :deadline %>
  </div>

    <div class="field">
    <%= f.label :instruction %><br />
    <%= f.text_field :instruction %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>
