<div class="quiz-heading clearfix row-fluid">
  <div class="quiz-title clearfix span6">
    <h2 id="quiztitle"><%= @quiz.name %></h2>
    <span class="pull-left"><%= link_to 'Edit', edit_quiz_path(@quiz) %></span>
  </div>

  <div class="span6 quiz-info pull-right">
    <dl class="quiz-info dl-horizontal">
      <dt>Groups:</dt>
        <% if @quiz.groups.empty? %>
          <dd> </dd>
        <% else %>
        <dd>
          <% @quiz.groups.each do |group| %>
            <span class="label quiz-heading"><%= group.name %> </span>
          <% end %>
        </dd>
        <% end %>
      <dt>Status:</dt>
      <dd>
        <%if current_user.role?(:instructor) %>
          <%= @quiz.status.titleize %>
        <% else %>
          <%= current_user.student_quizzes.where(:quiz_id => @quiz.id).first.quiz_status.titleize %>
      </dd>
        <% end %>
<!--         <dt>Deadline:</dt> 
        <dd><%= @quiz.deadline_date.strftime("%b %d, %Y")if !@quiz.deadline_date.nil? %><%= @quiz.deadline_time.strftime("%l:%M %p") if !@quiz.deadline_time.nil? %></dd>
      <dt>Instructions:</dt><dd><%= @quiz.instructions %></dd> -->
    </dl>
  </div>
</div>
