<div class="quiz-heading clearfix row-fluid">
  <div class="quiz-title clearfix span6">
    <h2 id="quiztitle"><%= @quiz.name %></h2>
    <%if current_user.role?(:instructor) && !['active','completed'].include?(@quiz.status) %>
      <span class="pull-left"><%= link_to 'Edit', edit_quiz_path(@quiz) %></span>
    <% end %>
  </div>

  <div class="span6 quiz-info pull-right">
    <dl class="quiz-info dl-horizontal">
      <dt>Groups:</dt>
        <% if @quiz.groups.empty? %>
          <dd> </dd>
        <% else %>
        <dd>
          <% @quiz.groups.each do |group| %>
            <span class="label quiz-heading"><%= group.name %> </span>
          <% end %>
        </dd>
        <% end %>
      <dt>Status:</dt>
      <dd>
        <%if current_user.role?(:instructor) %>
          <%= @quiz.status.titleize %>
        <% else %>
          <%= current_user.student_quizzes.where(:quiz_id => @quiz.id).first.quiz_status.titleize %>
      </dd>
        <% end %>
    </dl>
  </div>
</div>
