<% if @user.role?(:instructor) %>
    <% @quiz.questions.each_with_index do |question, i| %>
      <ol>
        <li><%= question.content %> <span><a href="<%= chart_question_path(question) %>"> See question chart</a></span> </li>
        <ol type='a'>
          <% question.choices.each do |choice| %>
            <li> <%= choice.content %> <%= "- Correct" if choice.correct %></li>
          <%end%>
        </ol>
      </ol>
    <% end %>
<% end %>    

  <% @answers = Answer.where(:user_id => @user.id, :quiz_id => @quiz.id) %>
  <ol>
  <% @answers.each do |answer| %>
    <% if !answer.choice.nil? %>
    <li><%= answer.question.content %> <span><a href="<%= chart_question_path(answer.question) %>"> See question chart</a></span></li>

           <%= current_user.role?(:student) ? "Your" : "#{User.find(params[:user_id]).name}'s" %> answer: <%= answer.choice.content %>
           <% if !answer.choice.correct? %>
             <br><b>Correct answer: <%= answer.choice.question.choices.where(:correct => true).first.content %></b>
            <% end %>
    <% else %>
      <li><%= answer.question.content %> <span><a href="<%= chart_question_path(answer.question) %>"> See question chart</a></span> </li>

           Your answer: No answer submitted
             <br><b>Correct answer: <%= answer.question.choices.where(:correct => true).first.content %></b>
    <% end %>
  <% end %>
  </ol>
