<% if current_user.role?(:instructor) %>
  <div class="container">
    <div class="row">
      <div class="span8">
        <ul class="nav nav-pills">
          <li class="<%= 'active' if params[:action] == 'overview' %> "><a href="<%= overview_quiz_path(@quiz) %>">Overview</a></li>
          <li class="<%= 'active' if params[:action] == 'chart' %> "><a href="<%= chart_quiz_path(@quiz) %>">Charts</a></li>
          <li class="<%= 'active' if params[:action] == 'results' %> "><a href="<%= results_quiz_path(@quiz) %>">Students</a></li>
          <li class="<%= 'active' if params[:action] == 'score' %> "><a href="<%= score_quiz_path(@quiz) %>">Questions</a></li>
        </ul>
      </div>
    </div>
  </div>


  <ul>
    <li class="overview"><h3><%= @quiz.students_submitted%> of <%=@quiz.total_students %> students completed</h3></li>
    <% unless @quiz.groups.empty? %>
      <li class="overview"><h3>Average score: <%= @quiz.groups.first.grade_quiz(@quiz)%>%</h3></li>
    <% end %>
    <li class"overview"><h3> <%= @quiz.questions.size %> questions in this quiz</h3></li>
    <% if @quiz.questions.size > 0 %>
      <% unless @quiz.hardest_question_author[0].empty? %>
        <li class="overview"><h3>Hardest question provided by: <%= @quiz.hardest_question_author[0] %> with a class average of <%= @quiz.hardest_question_author[1]%>% </h3></li>
      <% end %>
      <li class="overview"><h3><%= @quiz.contributor_count %> students contributed questions</h3></li>
    <% end %>
  </ul>
<% end %>