<h4> <%= @quiz.name %> </h4>

<% counter = 0 %>
<% scores_total = 0 %>


    <table>
    <th width="20px" align="left"></th>
    <th width="160px" align="left">Name</th>
    <th width="160px" align="left">Score</th>
    <th width="160px" align="left"># of Qs</th>
    <th width="160px" align="left">Class avg. on Qs</th>

  <% if @quiz.status == "active" %>
    <% @quiz.results.each_with_index do |result, i| %>
      <% counter += 1 %>
      <% scores_total += result.score %>
      <tr>
        <td><%= i + 1 %>.</td>
        <td><%= User.find(result.user_id).name %></td>
        <td><%= number_to_percentage(result.score, precision: 1) %></td>
        <td><%= @questions.where(:user_id => result.user_id).size %> </td>
        <td> TBD <%#= User.find(result.user_id).class_average(@quiz)%> </td>
      </tr>
    <% end %>

<% elsif @quiz.status == "completed" %>

<% @quiz.users.each_with_index do |stu, i| %>
  <tr>
    <td><%= i+1 %>.</td> 
    <td><%= link_to stu.name, :action =>"score", :controller =>"quizzes", :id => @quiz.id, :user_id => stu.id  %></td>
    <% if stu.results.where(:quiz_id => @quiz.id).empty? %>
       <td>Did not submit </td>
    <% else %>
      <td><%= link_to stu.results.where(:quiz_id => @quiz.id).first.score, :action =>"score", :controller =>"quizzes", :id => @quiz.id, :user_id => stu.id%> </td>
      <% counter += 1 %>
    <% end %>
      <td><%= @questions.where(:user_id => stu.id).size %> </td>
      <td>TBD<%#= stu.class_average(@quiz) %></td>
  <% end %>
<% end %>
    </table>


<h5>Class Average</h5>
<% unless counter == 0 %>
  <%= number_to_percentage(scores_total / counter, precision: 1) %> <br>
<% end %>
</br>

 <a href="<%= results_quiz_path(@quiz) %>" class="btn btn-large btn-primary">Update</a>
<% unless @quiz.status == "completed" %>
<a href="<%= set_status_quiz_path(@quiz, :status=> "completed") %>" class="btn btn-large btn-primary">End Quiz</a>
<% end %>
