<%= render :partial => '/quizzes/quizheading' %>

<div class="container">
  <div class="row">
    <div class="span8">
     <% if @quiz.status == "completed" %>
      <ul class="nav nav-pills">
        <li class="<%= 'active' if params[:action] == 'overview' %> "><a href="<%= overview_quiz_path(@quiz) %>">Overview</a></li>
        <li class="<%= 'active' if params[:action] == 'chart' %> "><a href="<%= chart_quiz_path(@quiz) %>">Charts</a></li>
        <li class="<%= 'active' if params[:action] == 'results' %> "><a href="<%= results_quiz_path(@quiz) %>">Students</a></li>
        <li class="<%= 'active' if params[:action] == 'score' %> "><a href="<%= score_quiz_path(@quiz) %>">Questions</a></li>
      </ul>
      <% end %>
    </div>
  </div>
</div>

<% counter = 0 %>
<% scores_total = 0 %>

<% if !@quiz.results.empty? %>
    <table>
    <th width="20px" align="left"></th>
    <th width="160px" align="left">Name</th>
    <th width="160px" align="left">Score</th>
    <th width="160px" align="left"># of Qs</th>
    <th width="160px" align="left">Class avg. on Qs</th>

  <% if @quiz.status == "active" %>
    <% @quiz.users.each_with_index do |student, i| %>
      <% if student.results.where(:quiz_id => @quiz.id).pop %>
        <% counter += 1 %>
        <% scores_total += student.results.where(:quiz_id => @quiz.id).pop.score %>
        <tr>
          <td><%= i + 1 %>.</td>
          <td><%= student.name %></td>
          <td><%= number_to_percentage(student.results.where(:quiz_id => @quiz.id).pop.score, precision: 1) %></td>
          <td><%= student.submitted_questions(@quiz) %> </td>
          <td><%= student.class_average(@quiz)%> </td>
        </tr>
      <% end %>
    <% end %>

<% elsif @quiz.status == "completed" %>
  <% @quiz.users.each_with_index do |student, i| %>
      <% if student.results.where(:quiz_id => @quiz.id).pop %>
        <% counter += 1 %>
        <% scores_total += student.results.where(:quiz_id => @quiz.id).pop.score %>
        <%# user = User.find(result.user_id) %>
        <tr>
          <td><%= i + 1 %>.</td>
          <td><%= link_to student.name, :action =>"score", :controller =>"quizzes", :id => @quiz.id, :user_id => student.id  %></td>
          <td><%= number_to_percentage(student.results.where(:quiz_id => @quiz.id).pop.score, precision: 1) %></td>
          <td><%= student.submitted_questions(@quiz) %> </td>
          <td><%= student.class_average(@quiz)%> </td>
        </tr>
      <% else %>
        <tr>
          <td><%= i + 1 %>.</td>
          <td><%= student.name %></td>
          <td> Did Not Submit </td>
          <td><%= student.submitted_questions(@quiz)  %> </td>
          <td><%= student.class_average(@quiz)%> </td>
        </tr>
      <% end %>
    <% end %>

<% end %>
    </table>
<% end %>

<br>

<% if counter == 0 %>
  <h4>No students have submitted answers for this quiz yet.</h4>
<% else %>
  <h4>Class Average (For submitted quizzes): <span><%= number_to_percentage(scores_total / counter, precision: 1) %> </span></h4>
  <br>
<% end %>
</br>
<% if @quiz.status != "completed" %>
  <a href="<%= results_quiz_path(@quiz) %>" class="btn btn-primary">Update</a>
  <a href="<%= set_status_quiz_path(@quiz, :status=> "completed") %>" class="btn btn-primary">End Quiz</a>
<% end %>
<br>
<br>