<%= render :partial => '/quizzes/quizheading' %>
<% if current_user.role?(:instructor) %>
<div class="container">
  <div class="row">
    <div class="span8">
      <ul class="nav nav-pills">
        <li class="<%= 'active' if params[:action] == 'overview' %> "><a href="<%= overview_quiz_path(@quiz) %>">Overview</a></li>
        <li class="<%= 'active' if params[:action] == 'chart' %> "><a href="<%= chart_quiz_path(@quiz) %>">Charts</a></li>
        <li class="<%= 'active' if params[:action] == 'results' %> "><a href="<%= results_quiz_path(@quiz) %>">Students</a></li>
        <li class="<%= 'active' if params[:action] == 'score' %> "><a href="<%= score_quiz_path(@quiz) %>">Questions</a></li>
      </ul>
    </div>
  </div>
</div>
  <% if params[:action] != 'score' %>
      <span class="correct">Correct Answer</span>
  <% end %>
<% elsif current_user.role?(:student) %>
  <div class = "span9 container clearfix">
    <h3 class="pull-right"><%= number_to_percentage(@score, precision: 1)%></h3>
    <h3> Your score for the <%= @quiz.name %> quiz! </h3>
  </div>
<% end %>

<%# @quiz.users.where(:student_quizzes => {:quiz_status => "completed"}).each do |user|%>
	<%#= user.name %> <%#= user.score(@quiz) %>
<%# end %>
<br>
<br>
<br>
<br>
<% if @quiz.status == 'completed' %>
  <%= render 'review' %>
<% else %>
  <h4> The instructor has not yet ended the quiz. Check back here to review questions after the quiz is complete. </h4>
<% end %>