<!-- score.html.erb -->

<% if current_user.role?(:instructor) %>
  <div class="container">  
    <div class="row">  
      <div class="span8">  
        <ul class="nav nav-pills">    
          <li class="<%= 'active' if params[:action] == 'results' %> "><a href="<%= results_quiz_path(@quiz) %>">Students</a></li>  
          <li class="<%= 'active' if params[:action] == 'score' %> "><a href="<%= score_quiz_path(@quiz) %>">Questions</a></li>   
        </ul>  
      </div>  
    </div>  
  </div>
  <h3> <%= @quiz.name %> Quiz </h3>
<% end %>
<% if current_user.role?(:student) %>
  <h3> Your score for the <%= @quiz.name %> quiz! </h3>
  <h5><%= number_to_percentage(@score, precision: 1)%></h5>
<% end %>

<%# @quiz.users.where(:student_quizzes => {:quiz_status => "completed"}).each do |user|%>
	<%#= user.name %> <%#= user.score(@quiz) %>
<%# end %>
<% if @quiz.status == 'completed' %>
  <%= render 'review' %>
<% else %>
  <h4> The instructor has not yet ended the quiz. Check back here to review question after the quiz is complete. </h4> 
<% end %>








