<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @quiz.name %> <%= link_to 'Edit', edit_quiz_path(@quiz) %> </br>
  <b>Deadline: </b><%= @quiz.deadline %> </br>
  <b>Instructions: </b><%= @quiz.instruction %> </br>
</p>

<% @quiz.questions.where(:status => "approved").each do |q| %>
    <%= q.content%> <%= link_to 'Edit', edit_quiz_question_path(@quiz, q) %><br>
    <ul>
      <% q.choices.each do |c| %>
        <li><%= c.content %> </li>
      <% end %>
    </ul>
    <% end %>

<div style="float: left;margin-right: 10px"><%= button_to 'Add questions', new_quiz_question_path(@quiz), :method => :get %></div>
<%#= link_to 'Add questions', new_quiz_question_path(@quiz) %>
<%#= link_to 'Back', quizzes_path %>
<% if @quiz.questions.present? %>
 <%#= link_to 'Finalize', set_status_quiz_path(@quiz, :status => "finalized"), :method => :put %> <div style="float: left;margin-right: 10px"><%= button_to 'Finalize', set_status_quiz_path(@quiz, :status => "finalized"), :method => :put %> </div>

  <%#= link_to 'Return to Review', review_quiz_questions_path(@quiz)%>
  <div style="float: left;margin-right: 10px"><%= button_to 'Return to Review', review_quiz_questions_path(@quiz), :method => :get%></div>
<% end %>
