<p id="notice"><%= notice %></p>

<p>

  <div style="float: left;width: 250px">
    <h5><%= @quiz.name %></h5>
  </div>
  <% if can? :edit, @quizzes %>
    <div style="float: left;position:relative;top: 11px">
      <%= link_to 'Edit', edit_quiz_path(@quiz) %>
    </div>
  <% end %> </br></br></br></br>
  <div>
  <b>Instructor: </b><%= User.find(@quiz.instructor).name %></br>
  <b>Deadline: </b><%= @quiz.deadline.strftime("%b %d, %Y - %l:%M %p") if !@quiz.deadline.nil? %> <%#= @quiz.deadline %></br>
  <b>Instructions: </b><%= @quiz.instruction %> </br>
  <b>Classes: </b>
  </div>

  <ul>
    <% @quiz.groups.each do |group| %>
    <li><%= group.name %> </li>
    <% end %>
  </ul>

</p>

<!--   <b>Students: </b>
    <ul> <% @users.each do |user| %>
        <li><%= user.name %> </li>
        <% end %>
    </ul>
</p> -->
<ol>
<% @quiz.questions.where(:status => "approved").each do |q| %>

    <!-- This if / else logic is strictly for properly formatting seed quizzes. Can be removed in production. -->
    <li>
    <% if @quiz.id.in?(1..4) %>
      <%= question_parser(q.content) %>
    <% else %>
      <%= markdown (q.content)%>
    <% end %>
    </li>
    <% if can? :edit, q %>
      <%= link_to 'Edit', edit_quiz_question_path(@quiz, q) %><br>
    <% end %>
    <ol type='a'>
      <% q.choices.each do |c| %>
        <li><%= c.content %> <%= " - Correct" if c.correct %></li>
      <% end %>
    </ol>
    <% end %>
</ol>
<span>
  <a href="<%= new_quiz_question_path(@quiz) %>" class="btn btn-large btn-primary" style="">Add Questions</a>
  <% if @quiz.questions.present? %>
  <a href="<%= review_quiz_questions_path(@quiz) %>" class="btn btn-large btn-primary">Return to Review</a>
  <a href="<%= set_status_quiz_path(@quiz, :status => "finalized") %>" class="btn btn-large btn-primary">Finalize</a>
</span>
  <% end %>
