<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @quiz.name %> <%= link_to 'Edit', edit_quiz_path(@quiz) %> </br>
  <b>Deadline: </b><%= @quiz.deadline %> </br>
  <b>Instructions: </b><%= @quiz.instruction %> </br>
</p>

<% @quiz.questions.where(:status => "approved").each do |q| %>
    <%= q.content%> <%= link_to 'Edit', edit_quiz_question_path(@quiz, q) %><br>
    <ul>
      <% q.choices.each do |c| %>
        <li><%= c.content %> </li>
      <% end %>
    </ul>
    <% end %>

<%= link_to 'Add questions', new_quiz_question_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
