<p id="notice"><%= notice %></p>

<p>

  <div style="float: left;width: 250px">
    <h5><%= @quiz.name %></h5>
  </div>
  <% if can? :edit, @quizzes %>
    <div style="float: left;position:relative;top: 11px">
      <%= link_to 'Edit', edit_quiz_path(@quiz) %>
    </div>
  <% end %> </br></br></br></br>
  <div>
  <b>Deadline: </b><%#= @quiz.deadline.strftime("%b %d, %Y - %I:%M %p") %> <%= @quiz.deadline %></br>
  <b>Instructions: </b><%= @quiz.instruction %> </br>
  <b>Classes: </b>
  </div>

  <ul>
    <li>Flatiron School </li>
  </ul>

</p>

<!--   <b>Students: </b>
    <ul> <% @users.each do |user| %>
        <li><%= user.name %> </li>
        <% end %>
    </ul>
</p> -->

<% @quiz.questions.where(:status => "approved").each do |q| %>

    <!-- This if / else logic is strictly for properly formatting seed quizzes. Can be removed in production. -->
    <% if @quiz.id.in?(1..4) %>
      <%= question_parser(q.content) %>
    <% else %>
      <%= markdown (q.content)%> 
    <% end %>

    <%= link_to 'Edit', edit_quiz_question_path(@quiz, q) %><br>
    <ul>
      <% q.choices.each do |c| %>
        <li><%= c.content %> <%= " - Correct" if c.correct %></li>
      <% end %>
    </ul>
    <% end %>
<% if can? :update, @quizzes %>
  <div style="float: left;margin-right: 10px"><%= button_to 'Add questions', new_quiz_question_path(@quiz), :method => :get %></div>


  <% if @quiz.questions.present? %>
   <div style="float: left;margin-right: 10px"><%= button_to 'Finalize', set_status_quiz_path(@quiz, :status => "finalized"), :method => :put %>
   </div>

    <div style="float: left;margin-right: 10px"><%= button_to 'Return to Review', review_quiz_questions_path(@quiz), :method => :get%>
    </div>
  <% end %>
<% end %>
