<p id="notice"><%= notice %></p>


    <%= render :partial => '/quizzes/quizheading' %>

  <ol>
  <% @quiz.questions.where(:status => "approved").each do |q| %>

      <!-- This if / else logic is strictly for properly formatting seed quizzes. Can be removed in production. -->
      <li>
      <% if @quiz.id.in?(1..4) %>
        <%= question_parser(q.content) %>
      <% else %>
        <%= markdown (q.content)%>
      <% end %>
      </li>
      <% if can? :edit, q %>
        <%= link_to 'Edit', edit_quiz_question_path(@quiz, q) %><br>
      <% end %>
      <ol type='a'>
        <% q.choices.each do |choice| %>
          <% if choice.correct %>
          <li>
            <span class="correct"><%= choice.content %></span>
          </li>
        <% else %>
          <li>
            <%= choice.content %>
          </li>
        <% end %>
        <% end %>
      </ol>
      <% end %>
  </ol>
  <!-- <span>
    <a href="<%= new_quiz_question_path(@quiz) %>" class="btn btn-primary" style="">Add Questions</a>
    <% if @quiz.questions.present? %>
    <a href="<%= review_quiz_questions_path(@quiz) %>" class="btn btn-primary">Return to Review</a>
    <a href="<%= set_status_quiz_path(@quiz, :status => "active") %>" class="btn btn-primary">Activate</a>
  </span>
    <% end %> -->

</ol>
<span>
  <a href="<%= new_quiz_question_path(@quiz) %>" class="btn btn-primary">Add Questions</a>
  <a href="#" class="btn btn-primary" style="">Notify Students</a>
  <a href="<%= dashboard_user_path(current_user.id) %>" class="btn btn-primary" style="">Done</a>
  <% if @quiz.questions.present? %>
  <a href="<%= review_quiz_questions_path(@quiz) %>" class="btn btn-primary">Return to Review</a>
  <a href="<%= set_status_quiz_path(@quiz, :status => "finalized") %>" class="btn btn-primary">Finalize</a>
</span>
  <% end %>
