<p id="notice"><%= notice %></p>

<%= render :partial => '/quizzes/quizheading' %>
<% if @quiz.questions.present? %>
  <span class="correct">CORRECT ANSWER</span>
<% end %>
<br><br>

<ol>

<% @quiz.questions.where(:status => "approved").each do |q| %>
<li>
    <span id="quest_content"><%= markdown (q.content)%></span>

  <% if can?(:edit, q) && @quiz.status != 'completed' %>
    <span id="edit_link"><%= link_to 'Edit', edit_quiz_question_path(@quiz, q) %></span><br>
  <% end %>
  <ol type='a'>
    <% q.choices.each do |choice| %>
      <% if choice.correct %>
        <li>
          <span class="correct"><%= choice.content %></span>
        </li>
      <% else %>
        <li>
        <%= choice.content %>
        </li>
      <% end %>
    <% end %>
  </ol>
  <br>
</li>
<% end %>
</ol>
  <% if @quiz.status != 'completed' %>
    <a href="<%= new_quiz_question_path(@quiz) %>" class="btn btn-primary">Add Questions</a>

    <% if @quiz.questions.present? %>
      <a href="<%= review_quiz_questions_path(@quiz) %>" class="btn btn-primary">Return to Review</a>
      <a href="<%= set_status_quiz_path(@quiz, :status => "active") %>" class="btn btn-primary">Activate</a>
    <% else %>
      <a href="<%= notify_students_quiz_path(@quiz) %>" class="btn btn-primary" style="">Notify Students</a>
      <a href="<%= dashboard_user_path(current_user.id) %>" class="btn btn-primary" style="">Done</a>
    <% end %>
  <% end %>
