<%= form_tag answers_quiz_path(@quiz) do %>
<h3><%= @quiz.name %></h3>
  <% @quiz.questions.where(:status => "approved").each_with_index do |question, i| %>
    <p>
      <%= i + 1 %>. 
      <!-- This if / else logic is strictly for properly formatting seed quizzes. Can be removed in production. -->
      <% if @quiz.id.in?(1..4) %>
        <%= question_parser(question.content) %>
      <% else %>
        <%= markdown (question.content)%> 
      <% end %>

      <ol type='a'>
        <% question.choices.each do |choice| %>
        <li>
          <%= choice.content %>
          <input type="radio" style="vertical-align: middle; margin: 0px;"name="question[<%= question.id %>]choice[<%= choice.id %>][]"/>
        </li>
        <% end %>
      </ol>
    </p>
  <% end %>

  <%= submit_tag(value = "Submit Answers") %>
<% end %>

<%= %>