<%= form_tag answers_quiz_path(@quiz) do %>
<h3><%= @quiz.name %></h3>
  <ol>
  <% @quiz.questions.where(:status => "approved").each do |question| %>
      <!-- This if / else logic is strictly for properly formatting seed quizzes. Can be removed in production. -->
      <li>
        <% if @quiz.id.in?(1..4) %>
          <%= question_parser(question.content) %>
        <% else %>
          <%= markdown (question.content)%>
        <% end %>


      </li>
      <ol type='a' class="choice-list">
        <% question.choices.each do |choice| %>
        <li> <input type="radio" name="question[<%= question.id %>]choice[<%= choice.id %>][]" class="choice-set"/>
          <%= choice.content %>
          
        </li>
        <% end %>
      </ol>
  <% end %>
  </ol>

  <%= submit_tag(value = "Submit Answers") %>
<% end %>

<%= %>