<%= render :partial => '/quizzes/quizheading' %>
<%= form_tag answers_quiz_path(@quiz) do %>
  <ol>
    <% @quiz.questions.where(:status => "approved").each do |question| %>
      <li>
        <%= markdown (question.content)%>
      </li>
      <ol type='a' class="choice-list">
       <% question.choices.each do |choice| %>
          <li> <input type="radio" name="choiceset[<%= question.id %>]" value="<%= choice.id %>" class="choice-set"/>
            <%= choice.content %>
          </li>
        <% end %>
      </ol>
    <% end %>
  </ol>
  <%= submit_tag "Submit Answers", class: "btn btn-primary" %>
<% end %>