<h1>Login</h1>
<%= form_tag login_path do %>
	<p>
		<%= label_tag "Email" %>
		<%= text_field_tag "email" %> <br>
		<%= label_tag "Password" %>
		<%= password_field_tag "password" %>
		<%= submit_tag "Login", class: "btn btn-primary" %>
	</p>
<% end %>
