<h1>Login</h1>
testing
<%= form_tag login_path do %>
	<p>
		<%= label_tag "Email" %>
		<%= text_field_tag "email" %> <br>
		<%= label_tag "Password" %>
		<%= text_field_tag "password" %>
		<%= submit_tag "Login" %>
	</p>
<% end %>
