<h3><%= @group.name %></h3>

  <ul class="nav nav-pills">
    <li class="<%= 'active' if params[:action] == 'groups' %> "><a href="<%= groups_path %>">Groups</a></li>
    <li class="<%= 'active' if params[:action] == 'grade' %> "><a href="<%= grade_group_path(@group) %>">Members</a></li>
    <li class="<%= 'active' if params[:action] == 'chart' %> "><a href="<%= chart_group_path(@group) %>">Performance</a></li>
  </ul>

<% hash = Hash.new %>
<% @group.users.collect do |student| %>
    <% hash[student.name] = student.grade(@group) %>
<% end %>

<% new_hash = hash.select{|k,v| v != nil && v!= 0} %>
<% x = new_hash.sort_by{|k,v| v} %>
<% names = x.collect{|x|x.first} %>
<% values = x.collect{|x|x[1]}%>

<script type="text/javascript" charset-"utf-8">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar',
                marginRight: 130,
                marginBottom: 50
            },
            title: {
                text: 'Student Average',
                x: -20 //center
            },

            xAxis: {
                categories:  <%= raw names %>
            },
            yAxis: {
                title: {
                    text: 'Percentage across all quizzes of group'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '%'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Score',
                data: <%= values %>
            }]
        });
    });
</script>
<div id="container" class="chart"></div>


