<%= notice %>
<h1>Listing Groups</h1>

<div class="span2 create-group">
  <a class="btn" href="/groups/new">Create Group</a>
</div>


<table>
  <% if current_user.role?(:instructor) %>
    <tr>
      <th>Name</th>
      <th>Group Code</th>
      <th></th>
      <th></th>
    </tr>

  <% @groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <td><%= group.code %></td>
      <td><%= link_to 'Edit', edit_group_path(group) %></td>
      <td><%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  <% elsif current_user.role?(:student) %>
    <tr>
      <th>Name</th>
      <th>Instructor</th>
    </tr>

  <% @groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <td><%= User.find(group.instructor).name %></td>
    </tr>
  <% end %>
  <% end %>
</table>
<br><br>

<%= render 'join_form' %>
