<%= notice %>
<h1>Listing Groups</h1>

<div class="span2 create-group">
  <a class="btn" href="/groups/new">Create Group</a>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Instructor</th>
    <th>Group Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= User.find(group.instructor).name %></td>
    <td><%= group.code %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br><br>

<%= render 'join_form' %>
