<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<!-- <p>
  <b>Instructor:</b>
  <%#= User.find(@group.instructor).name %>
</p> -->
<p>
  <b>Code:</b>
  <%= @group.code %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', :back %>
