<div style="margin-top: 30px">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="field">
    <%= f.text_field :email, :placeholder => "Email" %> </br>
    <%= f.text_field :email_confirmation, :placeholder => "Confirm Email" %>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => "Password" %> </br>
    <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
  </div>
  </br>
  <% if @user.new_record? %>
  <div>
    Select role: <br>
    <%= radio_button_tag 'role', 'student' %> <span id="role_label">Student </span><br>
    <%= radio_button_tag 'role', 'instructor' %> <span id="role_label">Instructor</span>
  </div>
  <% end %>
  <br>
  <div class="actions">
    <%= f.submit 'Register', class: "btn btn-primary"%>
  </div>
<% end %>
</div>
