<div id="<%= @status %>" class="quiz-box">
        <ul>
        <% @quizzes.each do |q| %>
        <% if current_user.role?(:instructor) %>
            <% case @status %>
            <% when "active" %>
                <div class="quiz well">
                    <h6 class="for-dash"><%= link_to q.name, quiz_path(q) %></h6>
                    <%= link_to 'Delete', q, method: :delete, class: "span1.5 quiz-link btn btn-primary", data: { confirm: 'Are you sure?' } %>
                    <%= link_to 'Deactivate', set_status_quiz_path(q, :status => "finalized"), class: "span1.5 quiz-link btn btn-primary", data: { confirm: 'Are you sure?' } %>
                    <a class="span1.5 quiz-link btn btn-primary" href="<%=results_quiz_path(q)%>">Live updates</a>
                </div>
            <% when "finalized" %>
                <div class="quiz well">
                    <h6 class="for-dash"><%= link_to q.name, quiz_path(q) %></h6>
                    <a class="span1.5 quiz-link btn btn-primary" href="<%=set_status_quiz_path(q, :status => "active")%>">Activate</a>
                    <%= link_to 'Delete', q, method: :delete, class: "span1.5 quiz-link btn btn-primary", data: { confirm: 'Are you sure?' } %>

                    </div>

            <% when "pending" %>
                <div class="quiz well">
                    <h6 class="for-dash"><%= link_to q.name, quiz_path(q) %></h6>
                    <%= link_to 'Delete', q, method: :delete, class: "span1.5 quiz-link btn btn-primary", data: { confirm: 'Are you sure?' } %>
                    <a class="span1.5 quiz-link btn btn-primary" href="<%=review_quiz_questions_path(q)%>">View Submitted Questions</a>

                    </div>
            <% when "completed" %>
                <div class="quiz well">
                    <h6 class="for-dash"><%= link_to q.name, quiz_path(q) %></h6>

                    <%= link_to 'Delete', q, method: :delete, class: "span1.5 quiz-link btn btn-primary", data: { confirm: 'Are you sure?' } %>
                    <a class="span1.5 quiz-link btn btn-primary" href="<%=results_quiz_path(q)%>">Results</a>
                    </div>
            <% end %>
        <% elsif current_user.role?(:student) %>
            <% case @status %>
            <% when "active" %>
                <div class="quiz well">
                    <h6 class="for-dash"><%= q.name %></h6>
                    <a class="span1.5 quiz-link btn btn-primary" href="<%=take_quiz_path(q)%>"><u>Take Quiz</a>
                </div>
            <% when "question_submitted" %>
                <div class="quiz well">
                    <h6 class="for-dash"><%= q.name %></h6>
                    <a class="span1.5 quiz-link btn btn-primary" href="<%=submitted_questions_quiz_path(q)%>">Edit Questions</a></div>
            <% when "pending" %>
                <div class="quiz well">
                    <h6 class="for-dash"><%= q.name %></h6>
                    <a class="span1.5 quiz-link btn btn-primary" href="<%=new_quiz_question_path(q)%>">
                        Submit questions</a></div>
            <% when "completed" %>
                <div class="quiz well">
                    <h6 class="for-dash"><%= q.name %></h6>
                    <a class="span1.5 quiz-link btn btn-primary" href="<%=score_quiz_path(q)%>"><u>See score</a>
                </div>
            <% end %>
      <% end %>
    <% end %>
        <ul>
</div>
