<div id="<%= @status %>" class="quiz-box">
        <h3><%= @status.titleize %></h3>
        <ul>
        <% @quizzes.each do |q| %>
        <% if current_user.role?(:instructor) %>
             <%if @status == "active" %>
                <%= link_to "Live Scores", results_quiz_path(q), :class => "links" %>
              <%= q.name %> <br>
              <%elsif @status == "finalized" %>
                <%= link_to "Activate!", set_status_quiz_path(q), :class => "links" %>
              <%= q.name %> <br>
              <%elsif @status == "pending" %>
                <%= link_to "Review", review_quiz_questions_path(q), :class => "links" %>
              <%elsif @status == "completed" %>
                <div class="quiz"><a href="<%=results_quiz_path(q)%>" class="btn btn-block btn-info control-group success" style="font-size: 12px;"><%= q.name %></a></div>
              <%= q.name %> <br>

              <%= q.name %> <br>
            <% end %>
        <% elsif current_user.role?(:student) %>
            <% if @status == "completed" %>
             <%= link_to "Score", score_quiz_path(q), :class => "links" %>
              <%= q.name %> <br>
            <% elsif @status == "active" %>
             <%= link_to "Take quiz", take_quiz_path(q), :class => "links" %>
              <%= q.name %> <br>
            <% elsif @status == "question_submitted" %>
             <%= link_to "Review", quiz_path(q), :class => "links" %>
              <%= q.name %> <br>
            <% elsif @status == "pending" %>
             <%= link_to "Pending", new_quiz_question_path(q), :class => "links" %>
              <%= q.name %> <br>
        <% end %>
      <% end %>
    <% end %>
        <ul>
</div>