<div class="container">
  <div class="row">
    <div class="span8">
        <% if current_user.role?(:student) %>
      <ul class="nav nav-pills">
        <li class="<%= 'active' if params[:action] == 'grade' %> "><a href="<%= myprofile_user_path %>">My Profile</a></li>
        <li class="<%= 'active' if params[:action] == 'chart' %> "><a href="<%= chart_user_path %>">Charts</a></li>
      </ul>
        <% else %>
            <%= link_to 'Back', :back, :class => "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
<table>

  <script type="text/javascript" charset-"utf-8">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'line',
                inverted: true,
                marginRight: 130,
                marginBottom: 100
            },
            title: {
                text: 'Quiz Scores',
                x: -20 //center
            },

            xAxis: {

                <% if current_user.role?(:student) %>
                    categories: <%=raw current_user.myprofile_chart_labels %>
                <% else %>
                    categories: <%= raw User.find(params[:id]).myprofile_chart_labels %>
                <% end %>
            },
            yAxis: {
                title: {
                    text: 'Percentage'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '%'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Score',
                <% if current_user.role?(:student) %>
                    data: <%=raw current_user.myprofile_chart_data %>
                <% else %>
                    data: <%= raw User.find(params[:id]).myprofile_chart_data %>
                <% end %>

            }]
        });
    });
</script>
<div id="container" style="width:900px; height:600px;"></div>
