 <%= current_user.quizzes.each do |q| %>
<% if current_user.role?(:instructor) %>
<!--             <head>
            <link rel="stylesheet" href="liteAccordion.css">
            </head>
            <body>
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
                <script type="text/javascript" src="../javascripts/liteaccordion.jquery.js"></script>     

            </body> -->
          <div>
            <div id='container' class='container'>
                <ol>
                    <li>
                        <h2 style="height: 200px; color:#F39C12;" class=""><span>Pending</span></h2>
                        <div>

                          <h6 class="for-dash"><%= link_to q.name, quiz_path(q) %></h6>
                <%= link_to 'Delete', q, method: :delete, class: "span1.5 quiz-link btn btn-primary", data: { confirm: 'Are you sure?' } %>
                <%= link_to 'Deactivate', set_status_quiz_path(q, :status => "finalized"), class: "span1.5 quiz-link btn btn-primary", data: { confirm: 'Are you sure?' } %>
                      <a class="span1.5 quiz-link btn btn-primary" href="<%=results_quiz_path(q)%>">Live updates</a>

                        </div>
                    </li>
                    <li>
                        <h2><span>Active</span></h2>
                        <div id = 'active'></div>
                    </li>
                    <li>
                        <h2><span>Finalized</span></h2>
                        <div></div>
                    </li>
                    <li>
                        <h2><span>Completed</span></h2>
                        <div>                    
                        <h6 class="for-dash"><%= link_to q.name, quiz_path(q) %></h6>
                        <%= link_to 'Delete', q, method: :delete, class: "span1.5 quiz-link btn btn-primary", data: { confirm: 'Are you sure?' } %>
                          <a class="span1.5 quiz-link btn btn-primary" href="<%=results_quiz_path(q)%>">Results</a></div>
                     </li>

                </ol>
                <noscript>
                    <p>Please enable JavaScript to get the full experience.</p>
                </noscript>
            </div>
          </d>
          <script>
              $(function() {
                $('#container').liteAccordion();
                });
            </script>

<script type="text/javascript" src="http://nicolahibbert.com/demo/liteAccordion/js/liteaccordion.jquery.js"></script>
<link rel="stylesheet" href="liteAccordion.css">




  <% end %>
  <% end %>
</div>
