<% if current_user.role?(:instructor) %>
  <div id='container' class='accordion'>
      <ol>
          <li>
              <h2><span>Pending: <%= pending = Quiz.where(:instructor => current_user.id, :status => "pending").count%></span></h2>
              <div id="pending" class="quizzes">
                <% @pending.each do |q| %>
                <div class="quiz well">
                  <h6 class="for-dash"><%= link_to q.name, quiz_path(q) %></h6>
                  <%= link_to '✘', q, method: :delete, class: "span1.5 quiz-link", data: { confirm: 'Are you sure?' } %></br></br>
                  <a class="span1.5 quiz-link btn btn-primary" href="<%=review_quiz_questions_path(q)%>">View Submitted Questions</a>
                </div>
                <% end %>
              </div>
          </li>
          <li>
              <h2><span>Active: <%= active = Quiz.where(:instructor => current_user.id, :status => "active").count %></span></h2>
              <div id="active" class="quizzes">
                <% @active.each do |q| %>
                <div class="quiz well">
                  <h6 class="for-dash"><%= link_to q.name, quiz_path(q) %></h6>
                    <%= link_to '✘', q, method: :delete, class: "span1.5 quiz-link", data: { confirm: 'Are you sure?' } %>
                    <%= link_to 'Deactivate', set_status_quiz_path(q, :status => "finalized"), class: "span1.5 quiz-link btn btn-primary", data: { confirm: 'Are you sure?' } %>
                    <a class="span1.5 quiz-link btn btn-primary" href="<%=results_quiz_path(q)%>">Live updates</a>
                </div>
                <% end %>
              </div>
          </li>
          <li>
              <h2><span>Finalized: <%= finalized = Quiz.where(:instructor => current_user.id, :status => "finalized").count %></span></h2>
              <div id="finalized" class="quizzes">
                <% @finalized.each do |q| %>
                <div class="quiz well">
                  <h6 class="for-dash"><%= link_to q.name, quiz_path(q) %></h6><br>
                  <text>Questions: <%= q.questions.count %></text></br>
                  <a class="span1.5 quiz-link btn btn-primary" href="<%=set_status_quiz_path(q, :status => "active")%>">Activate</a>
                  <%= link_to '✘', q, method: :delete, class: "span1.5 quiz-link", data: { confirm: 'Are you sure?' } %>
                </div>
                <% end %>
              </div>
          </li>
          <li>
              <h2><span>Completed: <%= completed = Quiz.where(:instructor => current_user.id, :status => "completed").count %></span></h2>
              <div id="completed" class="quizzes">
                <% @completed.each do |q| %>
                <div class="quiz well">
                  <h5><%= link_to q.name, quiz_path(q) %></h5>
<!--                   <text>Questions: <%= q.questions.count %></text></br>
 -->                  <h6>Groups: <%= q.groups.name %></h6>
           <!--        <text>Quizzes Submitted: <%= q.results.count %></text> -->
                      <%= link_to image_tag('pie.png'), score_quiz_path(q), :class=>"span1.5 quiz-link  " %><br>
                      <%= link_to '✘', q, method: :delete, class: "span1.5 quiz-link  ", data: { confirm: 'Are you sure?' } %> <br><br>

                </div>
                <% end %>
              </div>
           </li>
      </ol>
      <noscript><p>Please enable JavaScript to get the full experience.</p></noscript>
  </div>
  <script>
    $(function() {
      $('#container').liteAccordion();
      });
  </script>
<% elsif current_user.role?(:student) %>
  <div id='container' class='accordion'>
      <ol>
          <li>
              <h2><span>Pending:<%= pending = current_user.quizzes.where(:student_quizzes => {:quiz_status => "pending"}).count %></span></h2>
              <div id="pending" class="quizzes">
                <% @pending.each do |q| %>
                <div class="quiz well">
                  <h6 class="for-dash"><%= q.name %></h6>
                  <a class="span1.5 quiz-link btn btn-primary" href="<%=new_quiz_question_path(q)%>">
                        Submit questions</a>
                </div>
                <% end %>
              </div>
          </li>
          <li>
              <h2><span>Active:<%= active = current_user.quizzes.where(:student_quizzes => {:quiz_status => "active"}).count %></span></h2>
              <div id="active" class="quizzes">
                <% @active.each do |q| %>
                <div class="quiz well">
                    <h6 class="for-dash"><%= q.name %></h6>
                    <a class="span1.5 quiz-link btn btn-primary" href="<%=take_quiz_path(q)%>">Take Quiz</a>
                </div>
                <% end %>
              </div>
          </li>
          <li>
              <h2><span>Question Submitted:<%= questions_submitted = current_user.quizzes.where(:student_quizzes => {:quiz_status => "question_submitted"}).count %></span></h2>
              <div id="question_submitted" class="quizzes">
                <% @question_submitted.each do |q| %>
                <div class="quiz well">
                  <h6 class="for-dash"><%= q.name %></h6>
                  <a class="span1.5 quiz-link btn btn-primary" href="<%=submitted_questions_quiz_path(q)%>">Edit Questions</a>
                </div>
                <% end %>
              </div>
          </li>
          <li>
              <h2><span>Completed:<%= completed = current_user.quizzes.where(:student_quizzes => {:quiz_status => "completed"}).count %></span></h2>
              <div id="completed" class="quizzes">
                <% @completed.each do |q| %>
                <div class="quiz well">
                  <h6 class="for-dash"><%= q.name %></h6>
                  <a class="span1.5 quiz-link btn btn-primary" href="<%=score_quiz_path(q)%>">See score</a>
                </div>
                <% end %>
              </div>
           </li>
      </ol>
      <noscript><p>Please enable JavaScript to get the full experience.</p></noscript>
  </div>
  <script>
    $(function() {
      $('#container').liteAccordion();
      });
  </script>
<% end %>

