<% if current_user.role?(:instructor) %>

  <div id='container' class='accordion'>
      <ol>
          <li>
              <h2><span>Active: <%= @active.count %></span></h2>
              <div id="active" class="quizzes">
                <% if @active.empty? %>
                  <%= render 'activedirections' %>
                <% else %>
                  <% @active.reverse.each do |q| %>
                    <div class="quiz well">
                    <div class="active-icons">      
                    <%= link_to "Delete", q, method: :delete, class: "span1.5 quiz-link delete-icon", data: { confirm: 'Are you sure?', :toggle => "tooltip"}, :title => "Delete quiz"  %>
                    <%=link_to "Deactivate", set_status_quiz_path(q), :class=>"span1.5 quiz-link deactivate-icon", data: {:toggle => "tooltip"}, :title => "Deactivate quiz" %>
                     <%=link_to "Live Updates", results_quiz_path(q), :class=>"span1.5 quiz-link updates-icon", data: {:toggle => "tooltip"}, :title => "Live updates" %>
                </div>

               <!-- Possible implementation of Quiz title truncation   -->
               <!--  <#%= link_to truncate(q.name, length: 20, separator: ' '), results_quiz_path(q) %> -->

                <h6 class="for-dash"><%= link_to q.name, results_quiz_path(q) %></h6>

                </div>
                  <% end %>
                <% end %>
              </div>
          </li>
          <li>
              <h2><span>Pending: <%= @pending.count%></span></h2>
              <div id="pending" class="quizzes">
                <% if @pending.empty? %>
                  <%= render 'pendingdirections' %>
                <% else %>
                <% @pending.reverse.each do |q| %>
                <div class="quiz well">
                <div class="pending-icons">
                  <%= link_to "Delete", q, method: :delete, class: "span1.5 quiz-link delete-icon", data: {confirm: 'Are you sure?', toggle: "tooltip" }, :title => "Delete quiz" %>
                  <%=link_to "Review questions", review_quiz_questions_path(q), :class=>"span1.5 quiz-link review-icon", data: {:toggle => "tooltip"}, :title => "Review submitted questions" %>
                </div>
                <h6 class="for-dash"><%= link_to q.name, quiz_path(q) %></h6>

              </div>
                <% end %>
                <% end %>
              </div>
          </li>
          <li>
              <h2><span>Completed: <%= @completed.count %></span></h2>
                <% if @completed.empty? %>
                  <%= render 'completeddirections' %>
                <% else %>
              <div id="completed" class="quizzes">
                <% @completed.reverse.each do |q| %>
                <div class="quiz well">
                    <div class="completed-icons">
                      <%= link_to "Delete", q, method: :delete, class: "span1.5 quiz-link delete-icon  ", data: { confirm: 'Are you sure?', toggle: "tooltip"}, :title => "Delete quiz" %> 
                      <%= link_to "Result", overview_quiz_path(q), :class=>"span1.5 quiz-link results-icon", data: {:toggle => "tooltip"}, :title => "View quiz results" %>
                     </div> 
                  <h5><%= link_to q.name, quiz_path(q) %></h5>
<!--                   <text>Questions: <%= q.questions.count %></text></br>
 -->                  <h6>Groups: <%= q.groups.name %></h6>
                </div>
                <% end %>
                <% end %>
              </div>
           </li>
      </ol>
      <noscript><p>Please enable JavaScript to get the full experience.</p></noscript>
  </div>
  <script>
    $(function() {
      $('#container').liteAccordion();
      });
  </script>
<% elsif current_user.role?(:student) %>
  <div id='container' class='accordion'>
      <ol>
            <li>
              <h2><span>Active:<%= @active.count%></span></h2>
              <div id="active" class="quizzes">
                <% if @active.empty? %>
                  <%= render 'activedirections' %>
                <% else %>
                <% @active.reverse.each do |q| %>
                <div class="quiz well">
                    <div class="icon">
                    <%= link_to "Take Quiz",take_quiz_path(q), :class=>"span1.5 quiz-link take-icon", :data => {:toggle => "tooltip"}, :title => "Take quiz" %>
                    </div>
                <h6 class="for-dash"><%= q.name %></h6>
                </div>
                <% end %>
                <% end %>
              </div>
          </li>
          <li>
              <h2><span>Pending: <%= @pending.count %></span></h2>
              <div id="pending" class="quizzes">
                <% if @pending.empty? %>
                  <%= render 'pendingdirections' %>
                <% else %>
                <% @pending.reverse.each do |q| %>
                <div class="quiz well">
                  <div class="icon2">
                   <%= link_to "Submit Question", new_quiz_question_path(q), :class=>"span1.5 quiz-link submit-icon", :data => {:toggle => "tooltip"}, :title => "Submit questions" %>
                  </div>
                  <h6 class="for-dash"><%= q.name %></h6>
                </div>
                <% end %>
                <% end %>
              </div>
          </li>
          <li>
              <h2><span>Question Submitted: <%=@question_submitted.count %></span></h2>
              <div id="question_submitted" class="quizzes">
                <% if @question_submitted.empty? %>
                  <%= render 'studentsubmit' %>
                <% else %>
                <% @question_submitted.reverse.each do |q| %>
                <div class="quiz well">
                  <div class="icon3">
                  <%= link_to "Edit", submitted_questions_quiz_path(q), :class=>"span1.5 quiz-link edit-icon", :data => {:toggle => "tooltip"}, :title => "Edit submitted questions"%>
                </div>
                <h6 class="for-dash"><%= q.name %></h6>
                </div>
                <% end %>
                <% end %>
              </div>
          </li>
          <li>
              <h2><span>Completed:<%=@completed.count %></span></h2>
              <div id="completed" class="quizzes">
                <% if @completed.empty? %>
                  <%= render 'completeddirections' %>
                <% else %>
                  <% @completed.reverse.each do |q| %>
                     <div class="quiz well">
                     <div class="icon4">
                        <%= link_to "Results", score_quiz_path(q), :class=>"span1.5 quiz-link score-icon", :data => {:toggle => "tooltip"}, :title => "View results" %>
                      </div>
                      <h6 class="for-dash"><%= q.name %></h6>
                    </div>
                  <% end %>
                <% end %>
              </div>
           </li>
      </ol>
      <noscript><p>Please enable JavaScript to get the full experience.</p></noscript>
  </div>
  <script>
    $(function() {
      $('#container').liteAccordion();
      });
  </script>
<% end %>

