<h1>How To Use InstaQuiz</h1>
</br>
<hr>
<h3>Groups</h3>
<h4>Step 1: CREATE A GROUP</h4>
</br>
<text>Navigate to "My Groups" and click on the "Create Group" Link</text>
</br>
</br>
<%=image_tag("creategroup.png", alt: "Group")%>
<br>
<br>
<h4>Step 2: RECEIVE CODE</h4>
<br>
<%=image_tag("groupcode1.png", alt: "Group Code")%>
</br>
<text> Each group you create has a unique code. Students must use this unique code in order to join a group. Quizzes are administered to groups.</text>
</br>
</br>
<h4>Step 3: SEND CODE TO STUDENTS</h4>
</br>
<hr>
<h3>New Quizzes</h3>
<h4>Step 1: CREATE A QUIZ</h4>  
<br>
<text>Click on the "Create Quiz" link that is located at the top of the page.
<br>
<br>
<%=image_tag("createquiz.png", alt: "Group Code")%>
<br>
<br>
<text>Fill out the appropriate information and invite the correct group.</text>
<br>
<br>
<h4>Step 2: Pending Status (Approving Questions)</h4> 
<br>
<br>
<text>After you a create a quiz its status becomes pending for both the instructor and the student. This means that it is now open for student submitted questions. </text>
<br>
<br>
<%=image_tag("viewquestions.png", alt: "Group Code")%>
<br>

<text>After students submit questions instructors can click on "Pending" and then navigate to "View Submitted Questions" in order to review them.</text>
<br>
<br>
<%=image_tag("instaquizapprove.png", alt: "Group Code")%>
<br>
<br>
<text>After clicking on submitted questions instructors can then select and approve the questions they deem suitable for the quiz.</text>
<br>
<br>
<h4>Step 3: Finalized Status </h4>
<br>
<%=image_tag("finalizequiz.png", alt: "Group Code")%>
<br>
<text>After approving questions instructors must finalize the quiz. Finalizing the quiz sends the quiz to the "Finalized" state. These quizzes are ready to be sent out, but are not available to the students at this point.</text>
<br>
<br>
<h4>Step 4: Active Status</h4>
<br>
<br>
<text>In order to send out a quiz to the students the instructor must press the "Activate" button. This button is accessible on the "Finalized" page. 
<br>
<br>
<%=image_tag("activequiz.png", alt: "Group Code")%>
<br>
<br>
<text>Once a quiz is activated it is available for students to take. It also moves to the active section for the instructor. </text>
<br>
<br>
<hr>
<h3>Quiz in Action</h3>
<br>
<h4>Step 1: Options with Active Quizzes</h4>
<br>
<br>
<text>Instructors can view live quiz data through the "Live Updates" link that is available in the "Active" section. They can also deactivate a quiz and make it unavailable or completely delete it. </text>
<%=image_tag("activequizzes.png", alt: "Group Code")%>
<br>
<br>
<h4>Step 2: Track Live Updates</h4>
<br>
<br>
<text>The live updates view allows an instructor to track four different items.</text>
<br>
<%=image_tag("liveupdates.png", alt: "Group Code")%>
<br>
<br>
<ol>
  <li>Name: User Name</li>
  <li>Score: Percentage of questions each individual answered correctly.</li>
  <li># of Qs: Number of questions each user submitted that were used in an active quiz.</li>
  <li>Class avg. on Qs:The percentage of people that answered that user's question correctly.</li>
</ol>
<br>
<br>
<h4>Step 3: Ending a Quiz</h4>
<br>
<br>
<text>The live updates section has the option to end the quiz. Once an instructor ends a quiz it becomes unavailable for all users and moves to the completed section for all users.</text>
<br>
<br>
<hr>
<h3>Post-Quiz</h3>
<br>
<br>
<h4>Step 1: Options for a Completed Quiz</h4>
<%=image_tag("results.png", alt: "Group Code")%>
<br>
<br>
<text>Instructors can view the results and delete quizzes from the "Completed" section</text>
<br>
<br>
<h4>Step 2: Viewing Results</h4>
<br>
<text>Instructors can view the results for the quiz including the individual results and the class average on this view. 
<%=image_tag("classavg.png", alt: "Group Code")%>
<br>
<br>
<text>Instructors can also view the correct answers and a chart that shows the frequency of each answer. The chart is accessible through the "See question chart" link that is on the score page. 
  <%=image_tag("instaquizreview.png", alt: "Group Code")%>
<br>
<br>
<br>
<text>An example of the graph is below:</text>
<br>
<br>
  <%=image_tag("chart1.png", alt: "Group Code")%>
<br>
<br>
<text>Another chart is available through the "My Groups" link in the navigation bar.</text>
<br>
<br>
<%=image_tag("instaquizgroup.png", alt: "Group Code")%>
<br>
<br>
<text>This chart shows the scores of all of the users.</text>

<br>
<br>
<%=image_tag("instaquizchart2.png", alt: "Group Code")%>










