<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<head>
  <div class="navbar">
<!--   <div class="navbar navbar-fixed-top">
 -->  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a>
      <a class="navbar-brand pull-left" href="<%= logo_link %>"><h1 class="navbar-brand">Open<span class="color" style="font-size: 28px">Exam</span></h1></a>
      <div class="nav-collapse collapse pull-right">
      <% if session[:user_id] != nil %>
        <ul class="nav">
        <li><a href="<%=dashboard_user_path(current_user) %>">Dashboard</a>  </li>
        <li><a href="/users/<%= current_user.id %>/myprofile">My Profile</a> </li> 
        <% if current_user.role?(:instructor) %>
          <li><a href="/quizzes/new">Create Quiz</a> </li>
          <li><a href="/quizzes/1/questions/review">Review</a> </li>
        <% end %>
        <li><a href="#">Settings</a> </li>
        <li><a href="/logout">Logout</a></li>
      <% end %>
    </div>
    </div>
  </div>
  </div> 
 </div>
</head>
<body>
  <header>
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="logo">
          <h1><span class="color">Quizzes</span></h1>
        </div>
      </div>
      <div class="span6">
        <div class="form">
        </div>
      </div>
    </div>
  </div>
</header>



<div class="container-fluid">
  <div class="container-fluid offset1">
    <%= yield %>
  </div>
</div>

</body>
</html>




